{% extends "doxwiki/base.html" %}
{% block body %}
<h1>Pages tagged with <strong>{{ tag.name }}</strong></h1>
{% if tag.page_set %}
<ul>
{% for page in tag.page_set.all %}
<li>
    <a href="{% url 'doxwiki:page' page.id %}">{{page.title}}</a>
    {% if page.tags %}
    {% for tag in page.tags.all %}    
    <div class="tag-item">{{ tag.name }}</div> 
    {% endfor %}
    {% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<div class="alert alert-info">No pages found. Consider adding this tag to some of your pages.</div>
{% endif %}
{% endblock %}
